/* Загальні стилі */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #e6f2ff;
  color: #333;
  text-align: center;
  padding: 20px;
}

/* Заголовки */
h1, h2, h3 {
  font-size: 24px !important;
  line-height: 1.5 !important;
  text-align: center !important;
}

#main-title {
  font-size: 28px;
  color: #004080;
}

/* Посилання */
a {
  color: rgb(89, 45, 194);
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: rgb(89, 45, 194);
}

a:visited {
  color: gray;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:active {
  color: rgb(72, 150, 218);
}

/* Списки */
ul, ol, dl {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin: 20px;
  padding-left: 25px;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

ul li, ol li, dl dt, dl dd {
  margin-bottom: 10px;
}

ul li:first-child {
  font-weight: bold;
  background-color: #cce6ff;
}

/* Таблиці */
table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #003366;
  color: white;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
